//META{"name":"DemonBoyZZZ","author":"Bobi94","version":"Auto Update"}*//
@import url("https://puckzxz.github.io/NotAnotherAnimeTheme/css/scsl.css");
@import url("https://monstrousdev.github.io/themes/addons/user-tags.css");
@import url("https://monstrousdev.github.io/themes/addons/user-tags.css");
@import url("https://codedotspectra.github.io/themes/core/badges.css");
@import url('https://fonts.googleapis.com/css2?family=Orbitron');
@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/ServerColumns/ServerColumns.css');
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Animations/Yes.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Fonts/Yes.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Popup/Yes.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Channels/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Chat_Title_Bar/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Invites/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Members/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Windows_Bar/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Offline/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Popout_Footer/Yes.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Transparency/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Chat_Bubbles/No.css);
:root {
--background-image: url('https://i.imgur.com/swt4Fvg.jpg');
--friends-icon: url('https://i.imgur.com/u2RVuAu.jpeg');
--main-color: rgba(149,4,4,0.95);
--main-transparency: rgba(0,0,0,0.9);
--hover-list-bg-color: rgba(255,255,255,0.6);
--scroll-bar-color: rgba(255,255,255,0.05);
--font-size: 16px;
--selected-text-voice-color: #f6f6f7;
--channel-hover-text-color: rgba(255, 255, 255, 0.75);
--unread-text-color: #dcddde;
--customFont: 'Orbitron';
--user-popup-background: rgba(0,0,0,0);
  --Unread-Message-1: var(--Main-Colour) ;
  --Unread-Message-2: var(--Background-Colour) ;
  --Chat-Background: var(--Secondary-Background-Colour);
  --Settings-Background: var(--Secondary-Background-Colour);
  --Callout-Background: var(--Secondary-Background-Colour);
  --Title-Background: url(https://i.imgur.com/swt4Fvg.jpg');
  --Theme-Variant: " DemonBoyZZZ";
  --Chat-Font-Used: "Whitney";
  --Chat-Font-Size: 15px;
  --Unread-Message-Speed: 1.5s;
  --Popout-Main-Colour: var(--Main-Colour);
  --Popout-Background: var(--Chat-Background);
  --Popout-Text-Shadow-Colour:var(--Text-Shadow-Colour);
  --Emote-Popout-Background: var(--Secondary-Background-Colour);
  --load1: "Thank You!";
  --load2: "Please Enjoy!";
  --load3: "Bobi94";
  --File-Updated-2020-5-24: ;
  --Settings-Dock-Colour: var(--Main-Colour);
  --Timestamp-Colour: var(--Secondary-Main-Colour);
  --Guild-Columns: 2;
  --ServerFolders-Guild-Columns: var(--Guild-Columns);
  --Chat-Avatar-Border-Radius: 10%;
  --Background-Darkness: 0.5;
--friends-icon-position: center center;
--friends-icon-zoom: 100%;
}